<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<div class="pagetitle">
      <h1>Accounts</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item active">Accounts</li>
        </ol>
      </nav>
    </div>
		
	<section class="section">
      <div class="row">
        <div class="col-lg-6">
        
        
			<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Transactions</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/countries" class="btn btn-primary" >
                Manage Transactions
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Transactions Status</b></h3>
              <p>Add <code>.modal-dialog-centered</code> to <code>.modal-dialog</code> to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/locations">
                Manage Transactions Status
              </button>
              <!-- End Vertically centered Modal-->

            </div>
          </div>


        </div>



<!-- #######################-->

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Transaction Types</b></h3>
              <p>Add modal-dialog-centered to modal-dialog to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/states">
                Manage Transaction Types
              </button>
              <!-- End Vertically centered Modal-->

            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Invoice</b></h3>
              <p>Add <code>.modal-dialog-centered</code> to <code>.modal-dialog</code> to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/modules">
                Manage Invoice
              </button>
              <!-- End Vertically centered Modal-->
            </div>
          </div>


        </div>
        
        
        <div class="col-lg-6">
        
        
			<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Invoice Status</b></h3>
              <p>Add <code>.modal-dialog-centered</code> to <code>.modal-dialog</code> to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/suppliers">
                Manage Invoice Status
              </button>
              <!-- End Vertically centered Modal-->
            </div>
          </div>
          
       


        </div>
    
    
    
        
             
        
      </div>
    </section>
	</div>
</body>


</html>