<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<section class="section dashboard">
		<div class="container" style="width : 100%">
		
		<div class="col-lg-10">
          <div class="card ">
            <div class="card-body">

              <!-- Vertical Form -->
              <form class="row g-3" th:action="@{/countries}" th:object="${country}" method="post">
              	
              	<h5 class="card-title ">Edit Country Record</h5>
              	
              	
                  <input type="hidden" th:field="*{id}"/>
                
     
                <div class="col-12">
                  <label for="description" class="form-label">Country Name</label>
                  <input type="text" class="form-control" th:field="*{description}" />
                </div>
                <div class="col-12">
                  <label for="capital" class="form-label">Capital</label>
                  <input type="text" class="form-control" th:field="*{capital}" />
                </div>
                <div class="col-12">
                  <label for="nationality" class="form-label">Nationality</label>
                  <input type="text" class="form-control"  th:field="*{nationality}"/>
                </div>
                <div class="col-12">
                  <label for="code" class="form-label">Code</label>
                  <input type="text" class="form-control" th:field="*{code}"/>
                </div>
                <div class="col-12">
                  <label for="continent" class="form-label">Continent</label>
                  <input type="text" class="form-control"  th:field="*{continent}"/>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-success">Save</button>
                  <a href="/countries" class="btn btn-warning">Exit</a>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
        </div>
	</div>
	
	</section>
		
		</div>

</body>


</html>