<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{_layout.html}"
	xmlns:th="http://www.thymeleaf.org">


<body>

	<div layout:fragment="content">
	
		<div class="pagetitle">
	      <h1><b>Countries</b></h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door"></i></a></li>
	          <li class="breadcrumb-item"><a href="/parameters">Parameters</a></li>
	          <li class="breadcrumb-item active">Countries</li>
	        </ol>
	      </nav>
	    </div><!-- End Page Title -->
		
		    <div class="pagetitle">
               <a href="/parameters/countryAdd" type="submit" class="btn btn-primary">Add Country</a>
            </div>
        
       <section class="section dashboard">
       
			<div class="card top-selling overflow-auto">



				<div class="card-body pb-0">
					<h5 class="card-title">
						List of Countries
					</h5>

					<table class="table table-borderless">
						<thead>
							<tr>
								<th scope="col"><a th:href="@{'/parameters/countries/description?sortDir=' + ${reverseSortDir}}"><i class="bi bi-arrow-down-up me-2"></i></a>Description</th>
								
								<th scope="col"><a th:href="@{'/parameters/countries/capital?sortDir=' + ${reverseSortDir}}"><i class="bi bi-arrow-down-up me-2"></i></a>Capital</th>
								<th scope="col"><a th:href="@{'/parameters/countries/code?sortDir=' + ${reverseSortDir}}"><i class="bi bi-arrow-down-up me-2"></i></a>Code</th>
								<th scope="col"><a th:href="@{'/parameters/countries/nationality?sortDir=' + ${reverseSortDir}}"><i class="bi bi-arrow-down-up me-2"></i></a>Nationality</th>
								<th scope="col"><a th:href="@{'/parameters/countries/continent?sortDir=' + ${reverseSortDir}}"><i class="bi bi-arrow-down-up me-2"></i></a>Continent</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
<!-- 							If there is no data in the table(countires array == null) display this row(No search query) -->
   						   <tr th:if="${countries} == null"><td class="dataTables-empty" colspan="6" >No search query</td></tr> 
   						   
<!-- 							Else display all the data -->
							<tr th:each="country: ${countries}">
								<td th:text="${country.description}"></td>
								<td th:text="${country.capital}"></td>
								<td th:text="${country.code}"></td>
								<td th:text="${country.nationality}"></td>
								<td th:text="${country.continent}"></td>
								<td>
									<a type="button" class="btn-sm btn-primary"
										th:href="@{'/parameters/country/Details/'+${country.id}}">
										<i class="bx bxs-low-vision"></i>
									</a>
									
									<a type="button" class="btn-sm btn-success"
										th:href="@{'/parameters/country/Edit/'+${country.id}}">
										<i class="bx bxs-edit"></i>
									</a>
									<a type="button" class="btn-sm btn-danger"
										onclick="return confirm('Are you sure you want to delete this record?')"
										th:href="@{'/parameters/countries/delete/'+${country.id}}">
										<i class="bx bxs-trash"></i>
									</a>
								</td>
							</tr> 

						</tbody>
					</table>

				</div>

			</div>
			<!-- End Top Selling -->
			
		</section>


		



	</div>
</body>


</html>