<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<div class="pagetitle">
	      <h1>Country Detail</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door"></i></a></li>
	          <li class="breadcrumb-item"><a href="/parameters">Parameters</a></li>
	          <li class="breadcrumb-item"><a href="/parameters/countries">Countries</a></li>
	          <li class="breadcrumb-item active">Detail</li>
	        </ol>
	      </nav>
	    </div><!-- End breadcrumb -->
	    
	    
	<!-- Country Detail form --> 
	<section class="section dashboard">
	
	
		<div class="container" style="width : 100%">
		
		<div class="col-lg-10">
          <div class="card ">
            <div class="card-body">
              <h5 class="card-title ">Country Detail</h5>

              <!-- Vertical Form -->
              <form class="row g-3"  >
              
                <div class="col-12">
                  <label for="description" class="form-label">Country Name</label>
                  <input type="text" class="form-control" th:value="${country.description}" readonly>
                </div>
                <div class="col-12">
                  <label for="capital" class="form-label">Capital</label>
                  <input type="text" class="form-control" th:value="${country.capital}" readonly>
                </div>
                <div class="col-12">
                  <label for="nationality" class="form-label">Nationality</label>
                  <input type="text" class="form-control" th:value="${country.nationality}" readonly>
                </div>
                <div class="col-12">
                  <label for="code" class="form-label">Code</label>
                  <input type="text" class="form-control" th:value="${country.code}" readonly>
                </div>
                <div class="col-12">
                  <label for="continent" class="form-label">Continent</label>
                  <input type="text" class="form-control" th:value="${country.continent}" readonly>
                </div>
                <div class="text-center">
                  <a href="/parameters/countries" class="btn btn-warning">Exit</a>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>
        </div>
	</div> <!-- End of Country Detail form -->
	
	</section>
	
	
	
	<!-- State List table -->
	<section class="section dashboard">
		<div class="container" style="width : 100%">
		
		<div class="col-lg-10">
          <div class="card ">
            <div class="card-body">
              <!-- title -->
              <h5 class="card-title " th:text="'List of States in Country ' + ${country.description}"></h5>

             <div class="card top-selling overflow-auto">
				<div class="card-body pb-0">
				<br/>

					<table class="table table-borderless">
						<thead>
							<tr>
								<th scope="col">Name</th>
								<th scope="col">Capital</th>
								<th scope="col">Code</th>
								<th scope="col">Details</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="state: ${country.states}">
								<td th:text="${state.name}"></td>
								<td th:text="${state.capital}"></td>
								<td th:text="${state.code}"></td>
								<td th:text="${state.details}"></td>
						
							</tr>

						</tbody>
					</table>

				</div>

			</div>

            </div>
          </div>
        </div>
	</div> <!-- End of State table -->
	
	</section>
		
		</div>

</body>


</html>