<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<div class="pagetitle">
      <h1>Parameters</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item active">Parameters</li>
        </ol>
      </nav>
    </div>
		
	<section class="section">
      <div class="row">
        
        
        
        <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bi bi-globe2 fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>Countries</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="/parameters/countries" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
          
          
          <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bi bi-geo-alt-fill fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>Locations</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="/parameters/locations" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
          
          
          
          <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bi bi-globe2 fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>States</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="/parameters/states" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
          
          
          
           
          
          
          
          <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bi bi-person-lines-fill fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>Suppliers</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="/parameters/suppliers" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
          
          
          
          
          <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bi bi-telephone-fill fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>Contacts</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="/parameters/contacts" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
          
          
          
          <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bi bi-person-lines-fill fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>Client</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="/parameters/clients" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
          
          
          
          
          <div class="col-lg-4">
			 <div class="card text-center">
			  <div class="card-body py-3">
			    <span><i class="bx bxs-car fs-2"></i></span>
			    <h3 class="card-title pt-2"><b>Modules</b></h3>
			  </div>
			  <div class="card-footer py-2">
			      <!-- Vertically centered Modal -->
			      <a href="" class="btn btn-outline-primary">
			          Manage
			      </a>
			      <!-- End Vertically centered Modal-->
			  </div>
			</div>
          </div>
        
		
        
        
      </div>
    </section>
	</div>
</body>


</html>