<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<div class="pagetitle">
      <h1>Parameters</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index"><i class="bi bi-house-door"></i></a></li>
          <li class="breadcrumb-item active">Parameters</li>
        </ol>
      </nav>
    </div>
		
	<section class="section">
      <div class="row">
        <div class="col-lg-6">
        
        
			<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Countries</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/parameters/countries" class="btn btn-primary" >
                Manage Countries
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Locations</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/parameters/locations" class="btn btn-primary">
                Manage Locations
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>


        </div>



<!-- #######################-->

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>States</b></h3>
              <p>Add modal-dialog-centered to modal-dialog to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/parameters/states" class="btn btn-primary" >
                Manage States
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Modules</b></h3>
              <p>Add modal-dialog-centered to modal-dialog to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/modules">
                Manage Modules
              </button>
              <!-- End Vertically centered Modal-->
            </div>
          </div>


        </div>
        
        
        <div class="col-lg-6">
        
        
			<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Suppliers</b></h3>
              <p>Add modal-dialog-centered to modal-dialog to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/suppliers">
                Manage Suppliers
              </button>
              <!-- End Vertically centered Modal-->
            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Contacts</b></h3>
              <p>Add modal-dialog-centered to modal-dialog to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/parameters/contacts" class="btn btn-primary" >
                Manage Countries
              </a>
              <!-- End Vertically centered Modal-->
            </div>
          </div>


        </div>
    
    
    
        
     <div class="col-lg-6">
        
        
		<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Client</b></h3>
              <p>Add modal-dialog-centered to modal-dialog to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="/clients">
                Manage Clients
              </button>
              <!-- End Vertically centered Modal-->
            </div>
          </div>
          

        </div>
        
        
      </div>
    </section>
	</div>
</body>


</html>