<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<div class="pagetitle">
      <h1>Fleet</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/index">Home</a></li>
          <li class="breadcrumb-item active">Fleet</li>
        </ol>
      </nav>
    </div>
		
	<section class="section">
      <div class="row">
        <div class="col-lg-6">
        
        
			<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicles</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicles" class="btn btn-primary" >
                Manage Vehicles
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Hire</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleHires" class="btn btn-primary" >
                Manage Vehicle Hire
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>


        </div>



<!-- #######################-->

        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Maintenance</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleMaintenances" class="btn btn-primary" >
                Manage Vehicle Maintenance
              </a>
              <!-- End Vertically centered Modal-->

            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Movements</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleMovements" class="btn btn-primary" >
                Manage Vehicle Movements
              </a>
              <!-- End Vertically centered Modal-->
            </div>
          </div>


        </div>
        
        
        <div class="col-lg-6">
        
        
			<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Models</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleModels" class="btn btn-primary" >
                Manage Vehicle Models
              </a>
              <!-- End Vertically centered Modal-->
            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Status</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleStatuses" class="btn btn-primary" >
                Manage Vehicle Status
              </a>
              <!-- End Vertically centered Modal-->
            </div>
          </div>


        </div>
    
    
    
        
     <div class="col-lg-6">
        
        
		<div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Makes</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleMakes" class="btn btn-primary" >
                Manage Vehicle Makes
              </a>
              <!-- End Vertically centered Modal-->
            </div>
          </div>
          
          
          
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>Vehicle Types</b></h3>
              <p>Add to vertically center the modal.</p>

              <!-- Vertically centered Modal -->
              <a href="/fleet/vehicleTypes" class="btn btn-primary" >
                Manage Vehicle Types
              </a>
              <!-- End Vertically centered Modal-->
            </div>
          </div>
          

        </div>
        
        
      </div>
    </section>
	</div>
</body>


</html>