<!DOCTYPE html>
<html lang="en" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout.html}">
      
      
<body>

	<div layout:fragment="content">
	
	<div class="pagetitle">
			<h1>Edit Employee</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/index"><i
							class="bi bi-house-door"></i></a></li>
					 <li class="breadcrumb-item"><a href="/hr">HR</a></li>
					<li class="breadcrumb-item"><a href="/hr/employees">Employees</a></li>
					<li class="breadcrumb-item active">Edit</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
	    
	    
	    
	
	<section class="section dashboard">
		<div class="container" style="width : 100%">
		
		<div class="col-lg-12">
          <div class="card ">
            <div class="card-body">

              <!-- Vertical Form -->
              	
              	<form class="row g-3" th:action="@{/hr/employees}" th:object="${employee}"  method="post">
              	
              	<h5 class="card-title ">Edit Employee Record</h5>
              	
              	
                  <input type="hidden" th:field="*{id}"/>
                  
                 <div class="col-6">
                  <label for="ddlTitleEdit" class="form-label">Title</label>
                  <div class="col-md-12">
                  <select class="form-select" id="ddlTitleEdit" name="title">
                     <option th:value="${null}">-SELECT-</option>
                     <option value="Mr." th:selected="${employee.title} == 'Mr.'">Mr.</option>
                     <option value="Ms." th:selected="${employee.title} == 'Ms.'">Ms.</option>
                  </select>
                </div>
                </div>
                
                
                <div class="col-6">
                  <label for="initials" class="form-label">Initials</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{initials}" >
                  </div>
                </div>
                
                
                
                
                <div class="col-6">
                  <label for="firstname" class="form-label">Firstname</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{firstname}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="lastname" class="form-label">Lastname</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{lastname}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="socialSecurityNumber" class="form-label">Social Security No.</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{socialSecurityNumber}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="othername" class="form-label">Othername</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{othername}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="ddlGenderEdit" class="form-label">Gender</label>
                  <div class="col-md-12">
                  <select class="form-select" id="ddlGenderEdit" name="gender">
                     <option th:value="${null}">-SELECT-</option>
                     <option value="MALE" th:selected="${employee.gender} == 'MALE'">MALE</option>
                     <option value="FEMALE" th:selected="${employee.gender} == 'FEMALE'">FEMALE</option>
                  </select>
                </div>
                </div>
                
                <div class="col-6">
                  <label for="ddlNationalityEdit" class="form-label">Nationality</label>
                  <div class="col-md-12">
                  <select id="ddlNationalityEdit" name="countryid" class="form-select" >
                    <option th:value="${null}">Choose...</option>
                    <option th:each="country : ${countries}" 
							th:value="${country.id}"
                    		th:selected="${country.id}==${employee.countryid} ? True: False"
                    		th:text="${country.description}">
                    </option>
                  </select>
                </div>
                </div>
                
                
                 
                
                
                 <div class="col-6">
                  <label for="dateOfBirth" class="form-label">Date of Birth</label>
				  <div class="col-md-12">
                  <input type="date" class="form-control" th:field="*{dateOfBirth}" >
                  </div>
                </div>
                
                
                 <div class="col-6">
                  <label for="hireDate" class="form-label">Hire Date</label>
				  <div class="col-md-12">
                  <input type="date" class="form-control" th:field="*{hireDate}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="ddlStateEdit" class="form-label">State/Province</label>
                  <div class="col-md-12">
                  <select id="ddlStateEdit" name="stateid" class="form-select" >
                    <option th:value="${null}">Choose...</option>
                    <option th:each="state : ${states}" 
							th:value="${state.id}"
                    		th:selected="${state.id}==${employee.stateid} ? True: False"
                    		th:text="${state.name}">
                    </option>
                  </select>
                </div>
                </div>
                
                
                <div class="col-6">
                  <label for="city" class="form-label">City</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{city}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="phone" class="form-label">Phone</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{phone}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="mobile" class="form-label">Mobile</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{mobile}" >
                  </div>
                </div>
                
                
                
                <div class="col-6">
                  <label for="ddlMaritalStatusEdit" class="form-label">Marital Status</label>
                  <div class="col-md-12">
                  <select class="form-select" id="ddlMaritalStatusEdit" name="maritalStatus">
                     <option th:value="${null}">-SELECT-</option>
                     <option value="Married" th:selected="${employee.maritalStatus} == 'Married'">Married</option>
                     <option value="Single" th:selected="${employee.maritalStatus} == 'Single'">Single</option>
                  </select>
                </div>
                </div>
                
                
                
                <div class="col-6">
                  <label for="email" class="form-label">Email</label>
				  <div class="col-md-12">
                  <input type="email" class="form-control" th:field="*{email}" >
                  </div>
                </div>
                
                
                <div class="col-6">
                  <label for="ddlEmployeeTypeEdit" class="form-label">Employee Type</label>
                  <div class="col-md-12">
                  <select id="ddlEmployeeTypeEdit" name="employeetypeid" class="form-select" >
                    <option th:value="${null}">Choose...</option>
                    <option th:each="employeeType : ${employeeTypes}" 
							th:value="${employeeType.id}"
                    		th:selected="${employeeType.id}==${employee.employeetypeid} ? True: False"
                    		th:text="${employeeType.description}">
                    </option>
                  </select>
                </div>
                </div>
                
                
                <div class="col-6">
                  <label for="username" class="form-label">Username</label>
				  <div class="col-md-12">
                  <input type="text" class="form-control" th:field="*{username}" >
                  </div>
                </div>
                
                
                <div class="col-6 ">
				    <label for="fupImageEdit" class="form-label">Select Image</label>
					<div class="col-md-12">
					    <input class="form-control" type="file" id="fupImageEdit" name="photo">
					</div>
				</div>
                
                
                <div class="col-6">
                  <label for="address" class="form-label">Address</label>
				  <div class="col-md-12">
                  <textarea class="form-control" style="height: 100px;" rows="2" th:field="*{address}" ></textarea>
                  </div>
                </div>
                
                
                
                
                <div class="text-center">
                  <button type="submit" class="btn btn-success">Save</button>
                  <a href="/hr/employees" class="btn btn-warning">Exit</a>
                </div>
								
              </form><!-- Vertical Form -->

            </div>
          </div>
        </div>
	</div>
	
	</section>
		
	</div>
	
	
		<th:block layout:fragment="script">
		<script>
	        $('document').ready(function () { // Line 1
	
	            $('#ddlNationalityEdit').on('change',function () { // Line 2 (when you select a country)
	                console.log("I got here!")
	
	                $('#ddlStateEdit').empty().append('<option value="null">Choose...</option>'); // Line 3 (Remove everything in the state to prevent appending other countries values)
	
	                var countryid = $(this).val(); //Line 4
	
	                var href = "http://localhost:8080/parameters/country/" + countryid //Line 5 (go to get country by id)
	
	                $.get(href, function (country, status) { // Line 6 (get the country)
	
	                    var states = country.states; // Line 7 (get the states out of the country)
	
	                    for (var i = 0; i <= states.length-1; i++) { // Line 8 (iterate through the state and append to select state )
	                        $('#ddlStateEdit').append('<option value="' + states[i].id + '">' + states[i].name + '</option>'); // Line 9
	                    }
	                })
	            })
	
	          })
		  </script>
	</th:block>
	

</body>


</html>